.dataTables_info {
    font-size: 13px;
}

.dataTables_length label, .dataTables_filter label {
    font-size: 13px;
}

.my-table {
    border-bottom: 1px solid #d9dee3;
}

.dataTables_info {
    padding-top: 30px !important;
}

.dataTables_paginate {
    padding-top: 30px;
}

.table-bordered tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.table-bordered tbody tr .td-left {
    text-align: left;
}

.image-list {
    width: 60px;
    height: 80px;
    object-fit: cover;
}