.noti-icon {
    position: relative;
    border-right: 1px solid #bec7d1;
}

.noti-icon i {
    font-size: 24px;
}

.noti-icon span {
    font-size: 9px;
    color: #fff;
    background-color: rgb(236, 73, 73);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 12px;
}

.noti-container {
    width: 450px;
    overflow: hidden;
    padding: 10px 0;
}

.noti-item {
    display: flex;
    align-items: center;
}

.noti-item .noti-img {
    min-width: 38px;
    min-height: 38px;
    max-width: 38px;
    max-height: 38px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #bec7d1;
}

.noti-item .noti-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noti-item .noti-content {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}

.noti-item .noti-content span {
    font-size: 11px;
    padding: 0 10px;
}

.noti-item .noti-content div {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-wrap: wrap;
    padding: 0 10px;
}

.search-container {
    position: relative;
}

#search-results {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 32px;
    list-style: none;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    z-index: 2;
}

#search-results li {
    padding: 10px 20px;
}

#search-results li:hover {
    background-color: rgba(67, 89, 113, 0.04);
}

#search-results li:hover a {
    color: #696cff;
}

#search-results li a {
    color: #697a8d;
}